@{
    ViewBag.Title = "Acerca de";
}

<main id="main" style="text-align:justify">
    <!-- ======= Breadcrumbs ======= -->
    <div class="breadcrumbs" data-aos="fade-in">
        <div class="container">
            <h2>Acerca de Nosotros</h2>
            <p>
                Nuestra empresa vela por crear un mundo de oportunidades a quienes desean confiar en nuestro trabajo con nuestros cursos de inglés en Heredia.
                Con años de experiencia contamos con profesionales dedicados a enseñar con técnicas innovadoras y eficientes a nuestros estudiantes, desde niños hasta adultos, con el objetivo de que estos se puedan comunicar en otros idiomas con fluidez y dominio del lenguaje.
            </p>
        </div>
    </div><!-- End Breadcrumbs -->
    <!-- ======= About Section ======= -->
    <section id="about" class="about" style="text-align:justify">
        <div class="container" data-aos="fade-up">

            <div class="row">
                <div class="col-lg-6 order-1 order-lg-2" data-aos="fade-left" data-aos-delay="100">
                    <iframe width="560" height="550" src="https://www.youtube.com/embed/6FR1c10eLx0" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
                </div>
                <div class="col-lg-6 pt-4 pt-lg-0 order-2 order-lg-1 content">
                    <h3>Mision y Vision</h3>
                    <ul>
                        <li><i class="bi bi-check-circle"></i>Mision</li>
                    </ul>
                    <p>Brindamos la posibilidad, para que toda persona tenga la oportunidad de aprender inglés, independientemente de su grado académico, cultural y social, para que adquieran una mejor calidad de vida.</p>
                    <p>Investigamos nuevas formas de aprendizaje buscando siempre la excelencia mediante experiencias compartidas y dirigidas a diferentes grupos humanos.</p>
                    <p> Logramos, mediante el aprendizaje del idioma inglés, una sociedad más justa y equilibrada.</p>
                    <ul>
                        <li><i class="bi bi-check-circle"></i>Vision</li>
                    </ul>
                    <p>Crear y dirigir nuevas formas y métodos en el aprendizaje de diferentes idiomas, desarrollando programas para cada necesidad, adaptable a empresas e individuos.</p>
                    <p>Expandir nuevos centros de enseñanza en modalidad presencial y seguir trabajando la modalidad virtual.</p>
                    <p>Actualización constante del material técnico, didáctico y audiovisual de la institución.</p>



                </div>
            </div>

        </div>
    </section><!-- End About Section -->
    <!-- ======= Counts Section ======= -->
    <section id="counts" class="counts section-bg">
        <div class="container">

            <div class="row counters">

                <div class="col-lg-3 col-6 text-center">
                    <span data-purecounter-start="0" data-purecounter-end="1232" data-purecounter-duration="1" class="purecounter"></span>
                    <p>Graduados</p>
                </div>

                <div class="col-lg-3 col-6 text-center">
                    <span data-purecounter-start="0" data-purecounter-end="64" data-purecounter-duration="1" class="purecounter"></span>
                    <p>Cursos</p>
                </div>

                <div class="col-lg-3 col-6 text-center">
                    <span data-purecounter-start="0" data-purecounter-end="42" data-purecounter-duration="1" class="purecounter"></span>
                    <p>Grupos</p>
                </div>

                <div class="col-lg-3 col-6 text-center">
                    <span data-purecounter-start="0" data-purecounter-end="15" data-purecounter-duration="1" class="purecounter"></span>
                    <p>Profesores</p>
                </div>

            </div>

        </div>
    </section><!-- End Counts Section -->

</main><!-- End #main -->
