@{
    ViewBag.Title = "Inicio";
}


<!-- ======= Hero Section ======= -->
<section id="inicio" class="d-flex justify-content-center align-items-center">
    <div class="container position-relative" data-aos="zoom-in" data-aos-delay="100">
        <h1>Servicio Mecánico<br>Profesional</h1>
        <h2>Nos desplazamos hasta tu garaje  </h2>

    </div>
</section><!-- End Hero -->


<main id="main">

    <!-- ======= About Section ======= -->
    <section id="about" class="about">
        <div class="container" data-aos="fade-up">

            <div class="row" style="text-align:center">

                <div class="row" style="justify-content: center">



                    <div class="col-lg-9 order-2 order-lg-2">
                        <p class="fst-italic">
                            En LubriXpress, nos especializamos en ofrecer servicios de mecánica rápida a domicilio, brindando soluciones eficientes
                            y de alta calidad directamente en la comodidad de tu hogar o lugar de trabajo. Entendemos que tu tiempo es valioso, por
                            lo que nos enfocamos en llevar la experiencia de un taller mecánico profesional a donde más lo necesites, sin interrupciones
                            en tu rutina diaria. Nuestro equipo está conformado por técnicos altamente capacitados y equipados con las herramientas
                            más avanzadas para garantizar que cada servicio, desde cambios de aceite hasta reparaciones más complejas, se realice
                            con precisión y rapidez. Nos enorgullece ofrecer un servicio confiable y conveniente, siempre comprometidos con la
                            satisfacción de nuestros clientes. En LubriXpress, tu comodidad y seguridad son nuestra prioridad. Estamos aquí para
                            asegurarnos de que tu vehículo esté en óptimas condiciones, sin que tengas que preocuparte por desplazarte o esperar
                            largas horas en un taller. Con nosotros, el servicio de calidad llega a tu puerta.
                        </p>
                    </div>
                </div>


            </div>
        </div>
    </section><!-- End About Section -->
    <!-- ======= Counts Section ======= -->
    <section id="counts" class="counts section-bg" style="background: #bababa ">
        <div class="container">

            <div class="row counters">

                <div class="col-lg-5 col-6 text-center">
                    <span data-purecounter-start="0" data-purecounter-end="1632" data-purecounter-duration="1" class="purecounter"></span>
                    <p>Servicios brindados</p>
                </div>

                <div class="col-lg-3 col-6 text-center">
                    <span data-purecounter-start="0" data-purecounter-end="24" data-purecounter-duration="1" class="purecounter"></span>
                    <p>Tipos de servicios</p>
                </div>

                <div class="col-lg-3 col-6 text-center">
                    <span data-purecounter-start="0" data-purecounter-end="426" data-purecounter-duration="1" class="purecounter"></span>
                    <p>Clientes</p>
                </div>



            </div>

        </div>
    </section><!-- End Counts Section -->
    <!-- ======= brands Section ======= -->
    <section id="popular-courses" class="courses" style="margin-top: 50px">
        <div class="container" style="text-align:justify">

            <div class="section-title">

                <p>Marcas Autorizadas </p>
            </div>

            <div id="carouselExampleAutoplaying" class="carousel slide" data-bs-ride="carousel">
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <img src="~/assets/Home/img/marcas/KIA.png" class="d-block mx-auto w-25 justify-content-xl-center " alt="...">
                    </div>
                    <div class="carousel-item">
                        <img src="~/assets/Home/img/marcas/logo-Hyundai.png" class="d-block mx-auto w-25" alt="...">
                    </div>
                    <div class="carousel-item">
                        <img src="~/assets/Home/img/marcas/Logo-Mercedes-Benz.png" class="d-block mx-auto w-25" alt="...">
                    </div>
                    <div class="carousel-item">
                        <img src="~/assets/Home/img/marcas/toyota-logo-puromotor.png" class="d-block mx-auto w-25" alt="...">
                    </div>
                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Next</span>
                </button>
            </div>

        </div>
    </section><!-- End brands Section -->

</main>
<!-- End #main -->
<style>
    .icon-box {
        transition: transform 0.2s;
    }

        .icon-box:hover {
            transform: scale(1.05);
        }
</style>
