@model Web_LX.Entities.UserEnt

@{
    ViewBag.Title = "Login";
    string errorMessage = TempData["ErrorMessage"] as string;
}

<section style="padding-bottom: 0; background-image: url('/assets/Home/img/lubri/lx.png'); background-size: cover; background-position: center;">
    <div class="container position-relative" data-aos="zoom-in" data-aos-delay="100">
        <div class="row justify-content-center align-items-center" style="height: 80vh;">
            <!-- Establecer altura al 100% de la vista (viewport height) -->
            <div class="card-body p-2 text-center" style="background-color: rgba(0, 0, 0, 0.85); width: 60%; margin-left: 10%; margin-right: 10%; border-radius:16px;">


                @using (Html.BeginForm("Login", "Home", FormMethod.Post, new { id = "loginForm" }))
                {
                    <div id="divlogin">
                        <h2 class="fw-bold mb-2 text-uppercase text-white">Inicio de sesion</h2>
                        <p class="text-white mb-5">Por favor ingrese su usuario y contraseña</p>


                        @if (ViewBag.Msj != null)
                        {
                            <div id="Msj" class="alert alert-danger bg-danger text-light border-0 alert-dismissible fade show" role="alert">
                                @ViewBag.Msj
                            </div>
                        }

                        <div id="error-message" class="alert alert-danger bg-danger text-light border-0 alert-dismissible fade show" role="alert" style="display: none;">

                        </div>

                        <div class="form-outline form-white mb-4" id="form" style="width: 60%; margin: auto;">
                            <label class="text-white" for="LoginUsuario" style="text-align:left">Usuario</label>
                            @Html.TextBoxFor(
                                         m => m.cedula,
                                         new
                                         {
                                             @type = "text",
                                             @placeholder = "Usuario",
                                             @style = "text-align: center",
                                             @class = "form-control form-control-lg",
                                             @id = "uname"
                                         })

                        </div>

                        <div class="form-outline form-white mb-4" style="width: 60%; margin: auto;">
                            <label class="text-white" for="LoginContraseña" style="text-align:left">Contraseña</label>
                            @Html.TextBoxFor(
                                         m => m.contrasena,
                                         new
                                         {
                                             @type = "password",
                                             @placeholder = "Contraseña",
                                             @style = "text-align: center",
                                             @class = "form-control form-control-lg",
                                             @id = "passw"
                                         })

                        </div>

                        <button class="btn btn-outline-light btn-lg px-5" id="btn" type="submit">Entrar</button>
                        <br />
                        <br />
                        <a class="text-white-50 mb-2" href="/Home/loginReset">Olvidé mi contraseña</a>
                    </div>
                }
            </div>
        </div>
    </div>
</section>


<script>
    document.getElementById("loginForm").addEventListener("submit", function (event) {
        var userName = document.getElementById("uname").value;
        var password = document.getElementById("passw").value;
        var errorElement = document.getElementById("error-message");


        if (!userName || !password) {
            errorElement.innerHTML = "Por favor, complete todos los campos.";
            errorElement.style.display = "block";
            event.preventDefault(); // Evita el envío del formulario si los campos están vacíos

            // Desaparece el mensaje de error después de 5 segundos
            setTimeout(function () {
                errorElement.style.display = "none"; // Oculta el mensaje de error
            }, 5000); // 5000 milisegundos = 5 segundos

        } else {
            errorElement.innerHTML = ""; // Limpia el mensaje de error si los campos no están vacíos
        }
    });


    // Esperar 5 segundos y luego ocultar el mensaje
    setTimeout(function () {
        var mensajeDiv = document.getElementById('Msj');
        mensajeDiv.style.display = 'none';

    }, 5000); // 5000 milisegundos = 5 segundos

</script>