
@{
    ViewBag.Title = "ErrorHome";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<main>
    <div class="justify-content-center align-items-center text-center">
        <div class="container position-relative" data-aos="zoom-in" data-aos-delay="100" style="height: 80vh;">
            <br />
            <br />
            <br />
            <br />
            <br />
            <div>
                <h1>Lo sentimos</h1>
                <h2>Hemos tenido un error</h2>
                <h3>Por favor contacte al administrador.</h3>
            </div>
            <br />
            <div>
                <button type="button" class="btn" onclick="window.history.back();" style=" background-color: #5f81e8; color: white;">Regresar</button>
            </div>
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-12 col-md-4">
                        <img src="~/assets/Administration/img/not-found.svg" class="img-fluid" alt="Page Not Found">
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
